<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Word Frequency File Analysis System</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'graph/style.css' %}">
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
    <script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
    <style>
        .button {
            background-color: #09A9E6;
            border: none;
            color: white;
            padding: 13px 26px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 10px;
        }
    </style>
</head>
<body id="body">

<div id="header">
    <img style="float: left; padding-right: 15px; padding-top: 5px;" src="{% static 'graph/icons/logo_icon.png' %}"
         alt="icon logo" width="45" height="45">
    <h3>Word Frequency File Analysis System</h3>
</div>

<div id="left">
    <i style="padding: 10px" class="fa fa-upload"></i> Upload<br>
    <img src="{% static 'graph/icons/pdf.png' %}" alt="icon pdf" width="28" height="28"> PDF File 1 <br>
    <img src="{% static 'graph/icons/pdf.png' %}" alt="icon pdf" width="28" height="28"> PDF File 2 <br>
    <br>
    <a href="#" class="button">Start ></a>
</div>

<div id="right">
    <div id="graph">
        <h1>Graph</h1>
        <div id="main" style="width: 600px;height:400px;"></div>
        <script type="text/javascript">
            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('main'));

            // 指定图表的配置项和数据
            var option = {
                title: {
                    text: '第一个 ECharts 实例'
                },
                tooltip: {},
                legend: {
                    data: ['销量']
                },
                xAxis: {
                    data: ["衬衫", "羊毛衫", "雪纺衫", "裤子", "高跟鞋", "袜子"]
                },
                yAxis: {},
                series: [{
                    name: '销量',
                    type: 'bar',
                    data: [5, 20, 36, 10, 10, 20]
                }]
            };

            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);
        </script>
    </div>

    <div id="word_cloud">
        <h2>Word Cloud</h2>
        <img src="{% static 'graph/images/nsdi20spring_arashloo_prepub.png' %}" alt="word cloud 1">
    </div>
</div>

</body>
</html>

